body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html[data-theme="light"] .only_dark {
    display: none;
}

html:not([data-theme="light"]) .only_light {
    display: none;
}
